---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';

import ToggleTheme from '~/components/core/ToggleTheme.astro';
import ToggleMenu from '~/components/core/ToggleMenu.astro';

import { db } from "../../lib/firebase";
import { query, collection, getDocs, where,} from "firebase/firestore";

//FIREBASE ADD THE DOCUMENT ID HERE 
const q = query(collection(db, "users"), where("id", "==", "sauravfialok"),);

const querySnapshot = await getDocs(q);
const datas = querySnapshot.docs.map((querySnapshot) => ({ ...querySnapshot.data(), id: querySnapshot.id }));

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---


<Layout {meta}>


	<!-- HEADER SECTION  -->

	<header id="header" class="sticky top-0 z-40 flex-none mx-auto w-full bg-white md:bg-white/90 dark:bg-slate-900 dark:md:bg-slate-900/90 md:backdrop-blur-sm border-b dark:border-b-0">
		<div class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-10">
			<div class="flex justify-between">
				<a class="flex items-center" href={getHomePermalink()}>
					 <img src="https://firebasestorage.googleapis.com/v0/b/joinbuildspace.appspot.com/o/assets%2FScreenshot%202023-10-12%20at%2012.37.55%20AM.png?alt=media&token=40da532f-2871-4fd1-97b1-0aed5050b9b3&_gl=1*19kbjm2*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzA1MTExMi4xMDMuMS4xNjk3MDUxMjg5LjU2LjAuMA.." alt="Company Logo" width="190" height="50" class="rounded-md"> 
				

				{datas.map((data: any) => 
					<span class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white">
					
					</span>
				)}
				
				</a>
				<div class="flex items-center md:hidden">
					<!-- <ToggleTheme />
					<ToggleMenu /> -->
				</div>
			</div>
			<nav
				class="items-center w-full md:w-auto hidden md:flex text-gray-600 dark:text-slate-200 h-screen md:h-auto"
				aria-label="Main navigation"
			>
				<ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">
					
					<!-- <li class="md:hidden">
						<a
							class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
							href="https://www.linkedin.com/"
							target="_blank"
							>Follow on Linkedin 
						</a>
					</li> -->

					<li>
						{datas.map((data: any) => 
						<a
							class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
							href= "#about"
							target="_blank"
							>About
						</a>
						)}
					</li>

					<li>
						{datas.map((data: any) => 
						<a
							class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
							href= "#work"
							target="_blank"
							>Works
						</a>
						)}
					</li>
					
					<li>
						{datas.map((data: any) => 
						<a
							class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
							href= "#awards"
							target="_blank"
							>Awards
						</a>
						)}
					</li>

					<li>
						{datas.map((data: any) => 
						<a
							class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
							href= "#press"
							target="_blank"
							>Press
						</a>
						)}
					</li>

					<li>
						{datas.map((data: any) => 
						<a
							class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
							href= "#sessions"
							target="_blank"
							>Sessions
						</a>
						)}
					</li>

					<li>
						{datas.map((data: any) => 
						<a
							class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
							href= "#gallery"
							target="_blank"
							>Gallery
						</a>
						)}
					</li>
					<li>
						{datas.map((data: any) => 
						<a
							class="font-medium hover:text-gray-900 dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
							href= "mailto:abhishek@justrojgar.in"
							target="_blank"
							>{data.ctabutton}
						</a>
						)}
					</li>
				</ul>
				<div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
					<div class="hidden items-center md:flex">
						<!-- <a
							href="https://www.linkedin.com/company/mrmarketapp/"
							target="_blank"
							class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
							aria-label="linkedin"
						>
							<Icon name="tabler:brand-linkedin" class="w-6 h-6" />
						</a> -->
						
						<!-- <ToggleTheme iconClass="w-6 h-6" /> -->
					</div>
				</div>
			</nav>
		</div>
	</header>





	<section id="hero_section" class="bg-neutral-100">
		<div  class="max-w-[75rem] px-4 sm:px-6 lg:px-8 pt-10 lg:pt-20 lg:pb-20 mx-auto">
			<div class=" md:mt-8 grid sm:grid-cols-2 lg:grid-cols-2 gap-6 lg:items-center wrapper">
				<div class="flex flex-col text-start rounded-xl order-2 sm:order-1">
					<h1 class="text-4xl md:text-[2.80rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
						
						{datas.map((data: any) => 
							<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-yellow-400">	
								Abhishek Chola
							</span>
						)}
					</h1>
					<h1 class="text-xl md:text-2xl font-semibold leading-tighter tracking-tighter mb-4">
						Entrepreneur <br>
Keynote Speaker <br>
Angel Investor <br>
						
						
					</h1>
					<div class="max-w-none flex flex-nowrap flex-col sm:flex-row sm:justify-left ">
						<div class="flex w-full sm:w-auto">
							{datas.map((data: any) => 
							<a
								class="btn text-white border border-primary-600 bg-primary-500 hover:bg-yellow-500 hover:border-primary-500 sm:mb-0 w-full"
								href= "mailto:abhishek@justrojgar.in"
								target="_self"
								rel="noopener"
							>
								<Icon name="tabler:rocket" class="w-5 h-5 mr-3 -ml-1.5" />{data.ctabutton}
							</a>
						)}
						</div>
	
					
					</div>
					
					
					</div>
					<div class="relative sm:mt-4 md:mx-6 max-w-4xl order-1 sm:order-2">
					{datas.map((data: any) => 
					
						<img src= 'https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.22.34%20PM%20(1).jpeg?alt=media&token=c22b71b9-532b-4454-8ec5-f6a357b9b84e&_gl=1*13e7tda*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzA1MTExMi4xMDMuMS4xNjk3MDUyMzYxLjQ5LjAuMA..'  class="mx-auto rounded-md shadow-md shadow-primary-100 w-full"  style="object-fit: cover; height: 70vw; max-height: 500px;" alt="Hero Image">
						)}
					</div>
			</div>
		</div>
	</section>

<section id="about">
	<div  class="max-w-[70rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 lg:pb-24 mx-auto">
			<div class="mt-5 md:mt-8 grid sm:grid-cols-2 lg:grid-cols-2 gap-6 lg:items-center wrapper">
				<div class="relative  md:mx-6 max-w-full">
					
						
					
					<img src= "https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/images%2FWhatsApp%20Image%202023-04-11%20at%206.54.55%20PM%20(2).jpeg?alt=media&token=deee2fce-a83e-40b2-b40c-d37fed546ab8&_gl=1*nztqia*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzA1MTExMi4xMDMuMS4xNjk3MDUyOTk2LjExLjAuMA.."  class="mx-auto rounded-md"  style="object-fit: contain;" alt="Hero Image">
					

		
					
					</div>
					<div class="relative sm:mt-4 md:mx-6 max-w-4xl">
					<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase"></p>
					<h1 class="text-4xl md:text-3xl font-bold mb-4 ">
						About Me
							
					
					</h1>
				
					
						<p class="text-md md:text-md mt-3 font-medium text-gray-700 mb-8 dark:text-white">
							Abhishek's expertise in aligning deep tech in education with the demands of the 21st century, particularly in the context of Industry 4.0 and 5.0, showcases his forward-thinking approach. By integrating emerging technologies such as Augmented Reality (AR), Virtual Reality (VR), metaverse concepts, and artificial intelligence (AI) and machine learning (ML) into educational frameworks, he has demonstrated a unique perspective on solving the challenges that arise in this evolving field. <br> <br> Abhishek has played a vital role in creating job opportunities in the interiors of India and has provided employment to 1 million people. Focusing on job creation in rural and less-developed areas can be particularly impactful, as it can help reduce urban-rural disparities and improve the livelihoods of individuals who may have limited access to employment opportunities.
						</p>
					
					
					
	
					
					</div>
					
					
					</div>
			</div>
		</section>

	

		<section id="what">
		<div class="px-4 py-16 mx-auto max-w-6xl lg:py-5">
			<div class="max-w-xl sm:mx-auto lg:max-w-4xl">
				<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-5xl md:mb-12">

					<h2 class="max-w-lg mb-4 text-3xl mt-2 font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading">
						Accomplishments
					</h2>
					<span class=" font-normal text-xl mt-2 text-center max-w-6xl text-gray-800 dark:text-gray-200">
						Abhishek's extensive experience as a keynote speaker at various national and international platforms including All India Radio, various TV channels covering a wide range of topics, including the startup ecosystem, Industry 4.0 and 5.0, future workforce, employment, industry optimization & growth, robotics, AI trainer bots, artificial intelligence, virtual reality, mental health, and the future of farming, demonstrates his versatility and expertise. Speaking on such diverse subjects indicates a well-rounded understanding of current and future trends across different domains. 
						<br><br>
						Being recognized ''Just Learn'' as one of the top under 75 impactful startups in India out of 100,000 startups by the Ministry of Science & Technology, Government of India, is also a remarkable achievement for Abhishek and his startup, Just Learn. It underscores the significant impact and success of his leadership and the contributions of his startup in the entrepreneurial ecosystem of India.

			</span>
				</div>
				</div>
			</section>


	<section id='awards' class="relative">
		<div  class="max-w-[75rem] px-4 sm:px-6 lg:px-8 mt-10 mx-auto">
		
		  <div class="max-w-3xl mx-auto text-center mb-5 lg:mb-5">
			<h2 class="text-3xl font-bold md:text-4xl md:leading-tight dark:text-white">Awards and Recognitions<span
				class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 ">
			</span>
			</h2>
			
		  </div>
		
		</div>
	
	 <div class="owl-one owl-carousel owl-theme my-10 max-w-6xl mx-auto">
		<div class="item">
			<div class="flex flex-col text-center items-center rounded-xl p-5 border-2 border-primary-500 max-w-xl">
				<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/awards%2Fimage%20182.png?alt=media&token=c59519ea-a906-43ef-aa0a-c582b3657d9f" >
				
			  <p class="mt-3 text-sm font-medium text-justify text-gray-600"> CSR Award 2020 by Dr. Alok Mishra, Joint Secretary, AIU, GOI. for enabling & providing online and hybrid education for CSRs and corporates initiatives</p> 
			</div>
		
		</div>


		<div class="item">
			<div class="flex flex-col text-center items-center rounded-xl p-5 border-2 border-primary-500">
				<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/awards%2Fimage%20185.png?alt=media&token=220a85a5-5212-4d97-bfbc-fba70da8b3b9"  >
				
	
	
			  <p class="mt-3 text-sm font-medium text-justify text-gray-600">
				Young Entrepreneur Award awarded on Char Saal Bemisaal
			</p>
		</div>
		</div>

		<div class="item">
			<div class="flex flex-col text-center items-center rounded-xl p-5 border-2 border-primary-500">
				
				
					<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/awards%2FGroup%2091-min.png?alt=media&token=bcdd6a9d-e44a-4bd2-bbc4-a080a63e3540"  > 
			
			  <p class="mt-3 text-sm font-medium text-justify text-gray-600">
				Just Learn was selected among the Top 75 Impactful Indian organizations by Department of Science and Technology (DST), Government of India as a part of  ‘Azadi ka Amrit Mahotsavtov -75 years of Independence’ celebration.
			</p>
		</div>
		</div>

		<div class="item">
			<div class="flex flex-col text-center items-center rounded-xl p-5 border-2 border-primary-500">
				
					<img src="https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/awards%2Fimage%20186.png?alt=media&token=567069ca-2be4-4423-b7bf-d06d67e26034"  >
		
	
			  <p class="mt-3 text-sm font-medium text-justify text-gray-600">
				Maulana Mohammad Ali Jauhar Young Achiever Award by Jamia Millia Islamia, Central University
			</p>
		</div>
		</div>
		
		
	</div>
	</section>


	<div id="press" class="max-w-4xl mb-10 mt-10 mx-5 md:mx-auto sm:text-center lg:max-w-7xl md:mb-12">
		
		<div class="max-w-3xl mx-auto mt-5 text-center">
				<h2 class="text-3xl font-bold md:text-4xl md:leading-tight dark:text-white">Press and Media
				</h2>
			  </div>
	
			<div class="owl-one img-carousel owl-carousel owl-theme my-10 max-w-6xl mx-auto">
				<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/news%2FWhatsApp%20Image%202023-05-12%20at%204.46.13%20PM.jpeg?alt=media&token=cb7b5591-33c9-43ea-ba24-aa32429d7c4d'class="w-full rounded-md"> <div class='mx-auto w-56 my-10'>
					
			
			
								</div>
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/news%2FWhatsApp%20Image%202023-05-12%20at%204.46.28%20PM.jpeg?alt=media&token=8ae237f0-3fd1-44aa-9b01-9a9ad6770b05'class="w-full rounded-md">

		<div class='mx-auto w-56 my-3'>
					<a
										class="btn bg-primary-500 ml-4 font-medium text-white px-6 hover:bg-yellow-400 py-3 flex items-center transition duration-150 ease-in-out"
										href= "https://kdipa.gov.kw/kdipa-receives-an-economic-delegation-from-the-republic-of-india/"
										target="_blank"
										>Read the Full Article 
									</a>
			
			
								</div>
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/news%2Fimage%20217.png?alt=media&token=0a9af722-8f04-4654-8730-71ec47ebef4f'class="w-full rounded-md">

		<div class='mx-auto w-56 my-3'>
					<a
										class="btn bg-primary-500 ml-4 font-medium text-white px-6 hover:bg-yellow-400 py-3 flex items-center transition duration-150 ease-in-out"
										href= "https://m.economictimes.com/tech/technology/iim-lucknow-eic-picks-up-small-stake-in-just-rojgar-at-rs-80-crore-valuation/amp_articleshow/93819970.cms#appDwnldBanner"
										target="_blank"
										>Read the Full Article 
									</a>
			
			
								</div>
	</div>
		<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/news%2Fimage%20218.png?alt=media&token=7d800089-74a3-4b38-918d-15e584465516'class="w-full rounded-md">

		<div class='mx-auto w-56 my-3'>
					<a
										class="btn bg-primary-500 ml-4 font-medium text-white px-6 hover:bg-yellow-400 py-3 flex items-center transition duration-150 ease-in-out"
										href= "https://timesofindia.indiatimes.com/iim-lucknow-eic-picks-up-small-stake-in-just-rojgar-at-rs-80-cr-valuation/articleshow/93819429.cms"
										target="_blank"
										>Read the Full Article 
									</a>
			
			
								</div>
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/new%20funding%2FWhatsApp%20Image%202023-07-20%20at%2010.20.32%20AM.jpeg?alt=media&token=5985406c-cd55-4ee1-84e7-647de71a1c0e'class="w-full rounded-md">

		<div class='mx-auto w-56 my-3'>
					<a
										class="btn bg-primary-500 ml-4 font-medium text-white px-6 hover:bg-yellow-400 py-3 flex items-center transition duration-150 ease-in-out"
										href= "https://www.linkedin.com/posts/department-for-promotion-of-industry-and-internal-trade_just-learn-raised-inr-163-crores-usd-198330-activity-7087027557128187905-EClZ?utm_source=share&utm_medium=member_ios"
										target="_blank"
										>Read the Full Article 
									</a>
			
			
								</div>
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/new%20funding%2FWhatsApp%20Image%202023-07-20%20at%2010.20.33%20AM%20(1).jpeg?alt=media&token=5a8135e0-8604-4fda-bb78-e5ba58b5e5a3'class="w-full rounded-md">
		<div class='mx-auto w-56 my-3'>
					<a
										class="btn bg-primary-500 ml-4 font-medium text-white px-6 hover:bg-yellow-400 py-3 flex items-center transition duration-150 ease-in-out"
										href= "https://www.linkedin.com/posts/invest-india_just-learn-raised-inr-163-crores-usd-198330-activity-7087074143354986496-Fp9D?utm_source=share&utm_medium=member_ios"
										target="_blank"
										>Read the Full Article 
									</a>
			
			
								</div>
	</div>
	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/new%20funding%2FWhatsApp%20Image%202023-07-20%20at%2010.20.33%20AM%20(2).jpeg?alt=media&token=7322382b-51ce-4e0f-954a-3b9a312cc70d'class="w-full rounded-md">

		<div class='mx-auto w-56 my-3'>
					<a
										class="btn bg-primary-500 ml-4 font-medium text-white px-6 hover:bg-yellow-400 py-3 flex items-center transition duration-150 ease-in-out"
										href= "https://www.linkedin.com/posts/startupinup_just-learn-raised-inr-163-crores-usd-198330-activity-7086679751511162880-ufzc?utm_source=share&utm_medium=member_ios"
										target="_blank"
										>Read the Full Article 
									</a>
			
			
								</div>
	</div>

	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/new%20funding%2FWhatsApp%20Image%202023-07-20%20at%2010.20.33%20AM.jpeg?alt=media&token=8dc3cdf6-54fa-442e-bb97-412973956f50'class="w-full rounded-md">
		<div class='mx-auto w-56 my-3'>
					<a
										class="btn bg-primary-500 ml-4 font-medium text-white px-6 hover:bg-yellow-400 py-3 flex items-center transition duration-150 ease-in-out"
										href= "https://www.linkedin.com/posts/cell-for-ipr-promotion-management-cipam_just-learn-raised-inr-163-crores-usd-198330-activity-7087026974707097601-N3q0?utm_source=share&utm_medium=member_ios"
										target="_blank"
										>Read the Full Article 
									</a>
			
			
								</div>
	</div>

	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/new%20funding%2FWhatsApp%20Image%202023-07-20%20at%2010.21.25%20AM.jpeg?alt=media&token=b58c6858-cb64-4c4e-99c5-25236dcb8698'class="w-full rounded-md">

		<div class='mx-auto w-56 my-3'>
					<a
										class="btn bg-primary-500 ml-4 font-medium text-white px-6 hover:bg-yellow-400 py-3 flex items-center transition duration-150 ease-in-out"
										href= "https://www.linkedin.com/posts/invest-india_inthenews-investinindia-investindia-activity-7087651062102319104-vBAU?utm_source=share&utm_medium=member_ios"
										target="_blank"
										>Read the Full Article 
									</a>
			
			
								</div>
	</div>


	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/new%20funding%2FScreenshot%202023-07-20%20at%203.00.29%20PM.png?alt=media&token=93d03ee4-7d33-45dc-8600-61e2e467b1da'class="w-full rounded-md">

		<div class='mx-auto w-56 my-3'>
					<a
										class="btn bg-primary-500 ml-4 font-medium text-white px-6 hover:bg-yellow-400 py-3 flex items-center transition duration-150 ease-in-out"
										href= "https://www.ptinews.com/pti/Just-Learn--raised-INR-1-63-Crores---USD-198330-as-FDI--Foreign-Direct-Investment--in-Pre-Series-A-Funding-at-a-Valuation-of-INR-100-08-Crores---USD-12-2-Million/63553.html"
										target="_blank"
										>Read the Full Article 
									</a>
			
			
								</div>
	</div>


	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/new%20funding%2FScreenshot%202023-07-20%20at%203.00.52%20PM.png?alt=media&token=2231555e-ff74-4404-aae6-738551bf04e9'class="w-full rounded-md">
		<div class='mx-auto w-56 my-3'>
					<a
										class="btn bg-primary-500 ml-4 font-medium text-white px-6 hover:bg-yellow-400 py-3 flex items-center transition duration-150 ease-in-out"
										href= "https://www.theweek.in/wire-updates/business/2023/07/17/dcm26-just-learn.amp.html"
										target="_blank"
										>Read the Full Article 
									</a>
			
			
								</div>
	</div>

	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/hacakthonco.appspot.com/o/new%20funding%2FScreenshot%202023-07-24%20at%2011.22.41%20AM.png?alt=media&token=908bedf5-007e-4cdb-9b5b-318a2c7973f0'class="w-full rounded-md">
		<div class='mx-auto w-56 my-10'>
					<a
										class="btn bg-primary-500 ml-4 font-medium text-white px-6 hover:bg-yellow-400 py-3 flex items-center transition duration-150 ease-in-out"
										href= "https://twitter.com/investindia/status/1681884822946586624?s=48"
										target="_blank"
										>Read the Full Article 
									</a>
			
			
								</div>
	</div>


</div>
	</div>


	<section id="sessions" class="relative">
        <div  class="max-w-[80rem] px-4 sm:px-6 lg:px-8 lg:py-4 lg:pb-16 mx-auto">
          <!-- Title -->
          <div class="max-w-3xl mx-auto text-center mb-5 mt-10 lg:mb-5">
            <h2 class="text-4xl font-bold md:text-4xl md:leading-tight dark:text-white"> 
            Sessions
           
            </h2>
          </div>
          <!-- End Title -->
          
          <!-- Grid -->
          <div class="mt-5 grid sm:grid-cols-2 lg:grid-cols-2 gap-3 lg:items-center">

			       
			<div class="flex flex-col text-center items-center rounded-xl p-5">
				<iframe width="100%" height="315px" src="https://www.youtube.com/embed/_kPmx6sK3YQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				
            </div>

            
			<div class="flex flex-col text-center items-center rounded-xl p-5">
				<iframe width="100%" height="315px" src="https://www.youtube.com/embed/U74fnnZuC8M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				
            </div>

			<div class="flex flex-col text-center items-center rounded-xl p-5">
				<iframe width="100%" height="315px" src="https://www.youtube.com/embed/AWNHF_O0gek" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				
            </div>

		

			<div class="flex flex-col text-center items-center rounded-xl p-5">
				<iframe width="100%" height="315px" src="https://www.youtube.com/embed/e7vb5wH2G-4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				
            </div>


			

			<div class="flex flex-col text-center items-center rounded-xl p-5">
				<iframe width="100%" height="315px" src="https://www.youtube.com/embed/s38UopRkzaA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				
            </div>


			<div class="flex flex-col text-center items-center rounded-xl p-5">
				<iframe width="100%" height="315px" src="https://www.youtube.com/embed/EJ2LcUq412Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				
            </div>

			
			<div class="flex flex-col text-center items-center rounded-xl p-5">
				<iframe width="100%" height="315px" src="https://www.youtube.com/embed/LLbB-NC8R4w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				
            </div>

			<div class="flex flex-col text-center items-center rounded-xl p-5">
				<iframe width="100%" height="315px" src="https://www.youtube.com/embed/rTaDyC9qZBM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				
            </div>




		</div>
        </div>



  </section>





				
	<div id='gallery' class="max-w-4xl mb-10 mt-10 mx-5 md:mx-auto sm:text-center lg:max-w-7xl md:mb-12">
		
		<div class="max-w-3xl mx-auto mt-5 text-center">
				<h2 class="text-3xl font-bold md:text-4xl md:leading-tight dark:text-white">Photo Gallery
				</h2>
			  </div>
	
			<div class="owl-one img-carousel owl-carousel owl-theme my-10 max-w-6xl mx-auto">
				<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.06%20PM.jpeg?alt=media&token=9b0005d8-60a5-4e0b-b0ca-427b14688b93&_gl=1*l4jkaq*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1NzA1LjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.07%20PM.jpeg?alt=media&token=29ad58e3-59ac-45b3-9b66-d436ea9a9fa4&_gl=1*1tk2xn1*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1NzIxLjQ0LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.08%20PM.jpeg?alt=media&token=4de5d958-cf0b-4fc3-b5c5-b31d6b68f081&_gl=1*k4xpvh*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1NzM1LjMwLjAuMA..'class="w-full rounded-md">
	</div>
	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/cropped%2FWhatsApp%20Image%202023-10-13%20at%204.07.15%20PM%20(1).jpeg?alt=media&token=72cab9a1-3a05-4a9b-bba3-1343905a2d21&_gl=1*h4dqx1*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk3Mzc0LjMwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.15%20PM.jpeg?alt=media&token=b24d1a03-fceb-408d-b716-a6acacc5e709&_gl=1*1ki2y65*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1OTc4LjEuMC4w'class="w-full rounded-md">
	</div>
		<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.09%20PM%20(1).jpeg?alt=media&token=04d58745-c4d3-4fdb-898d-6ca31c417711&_gl=1*6s1khu*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1NzUyLjEzLjAuMA..'class="w-full rounded-md">
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.09%20PM%20(2).jpeg?alt=media&token=ca4fd70f-47af-4c99-a527-a184d4b88080&_gl=1*1t0716x*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1NzYzLjIuMC4w'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.09%20PM.jpeg?alt=media&token=86388242-fff5-4e5c-b147-f5e74f15f033&_gl=1*1hwmty5*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1Nzc4LjYwLjAuMA..'class="w-full rounded-md">
	</div>
	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.11%20PM%20(1).jpeg?alt=media&token=a35c993c-b127-4a00-bb16-75f4ecb5f35d&_gl=1*29e0qx*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1NzkzLjQ1LjAuMA..'class="w-full rounded-md">
	</div>
	
	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.11%20PM%20(2).jpeg?alt=media&token=0f0d8d39-09cd-436c-8288-995392b45a79&_gl=1*tv538x*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1ODA5LjI5LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.11%20PM.jpeg?alt=media&token=4d1e11f9-0bb5-4a31-b61c-67e0360b246a&_gl=1*ts3emf*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1ODIyLjE2LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.12%20PM%20(1).jpeg?alt=media&token=8081e901-79c9-4165-a40d-afecce563088&_gl=1*1rql5zv*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1ODM0LjQuMC4w'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.12%20PM.jpeg?alt=media&token=42ac73a7-335c-40b8-abb5-debb343c7315&_gl=1*1kzxh2z*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1ODQ2LjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.13%20PM%20(1).jpeg?alt=media&token=2e7e607f-2509-403f-8110-dc16c6fcd03b&_gl=1*1jey7i1*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1ODYxLjQ1LjAuMA..'class="w-full rounded-md">
	</div>
	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.13%20PM.jpeg?alt=media&token=01efc95d-9cf6-4a0c-a446-4e20e50ff635&_gl=1*19nc079*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1OTE5LjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.14%20PM%20(1).jpeg?alt=media&token=223d294f-b4a7-434b-9f2a-116822483a8c&_gl=1*8yagf0*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1OTMyLjQ3LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.14%20PM.jpeg?alt=media&token=98c0597d-fdf8-45e7-90a6-ca0f16dda56d&_gl=1*1rmkk4v*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk1OTQ1LjM0LjAuMA..'class="w-full rounded-md">
	</div>

	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.16%20PM%20(1).jpeg?alt=media&token=f7bee485-df19-4d0e-9da5-96e86516e5c4&_gl=1*wgfau3*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MDIyLjYwLjAuMA..'class="w-full rounded-md">
	</div>
	<div class="item">
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.16%20PM%20(2).jpeg?alt=media&token=5ac4d857-ae75-495c-9e40-c467468ea3df&_gl=1*7c6im1*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MDM1LjQ3LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.16%20PM.jpeg?alt=media&token=06713005-69da-40a4-bf97-2c9c4c02cd0b&_gl=1*lxc7yg*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MDQ4LjM0LjAuMA..'class="w-full rounded-md">
	</div>
	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.17%20PM%20(1).jpeg?alt=media&token=9113869d-a968-4b4c-84b8-a7479dd15232&_gl=1*qe6vrc*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MDYyLjIwLjAuMA..'class="w-full rounded-md">
	</div>
	
	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.17%20PM%20(2).jpeg?alt=media&token=398a2466-2869-4e96-ab1f-db8623eb7338&_gl=1*qy1zmg*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MDc1LjcuMC4w'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.17%20PM.jpeg?alt=media&token=4ad61225-a426-4170-82b9-9b4b7ed76433&_gl=1*1jpveo9*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MDkwLjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.18%20PM%20(1).jpeg?alt=media&token=812e2923-b3a0-4104-bcda-40975738a9de&_gl=1*iz50uc*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MTAzLjQ3LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.18%20PM.jpeg?alt=media&token=b59b31ef-2906-48ea-85a3-1867c9e22708&_gl=1*1ueaowm*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MTIxLjI5LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.19%20PM%20(1).jpeg?alt=media&token=419075c3-6ad3-406a-8874-481596e1b179&_gl=1*9bm4ld*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MTM2LjE0LjAuMA..'class="w-full rounded-md">
	</div>
	<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.19%20PM.jpeg?alt=media&token=855696d5-6723-498f-afc8-4095b5844e12&_gl=1*cwozw6*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MTU3LjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.20%20PM.jpeg?alt=media&token=f2b58343-4529-4c36-b3dd-663caf41194c&_gl=1*iwc7k0*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MTcyLjQ1LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.07.21%20PM.jpeg?alt=media&token=e8129734-2ac8-4662-8145-4dad55e57f82&_gl=1*9lcaim*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MTg2LjMxLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.16.53%20PM.jpeg?alt=media&token=65d2f743-d21d-4400-ae9c-5d6600842999&_gl=1*tuyea5*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MjA0LjEzLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.16.56%20PM%20(1).jpeg?alt=media&token=4736909a-03b0-42a4-bb13-aacd43cfd98d&_gl=1*5hq53b*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MjIzLjYwLjAuMA..'class="w-full rounded-md">
</div>

<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.16.56%20PM%20(2).jpeg?alt=media&token=37b6309a-ae3a-450a-bb2e-7e700597b99d&_gl=1*1ywn5fc*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MjYyLjIxLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.16.56%20PM.jpeg?alt=media&token=0c93d3f4-95bf-470d-9eea-54eb31c85193&_gl=1*4se0vr*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2Mjc3LjYuMC4w'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.16.57%20PM%20(1).jpeg?alt=media&token=7ebafcdc-0cb4-49e3-94a9-af757491d7f7&_gl=1*6hqqs0*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2Mjk2LjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.16.57%20PM.jpeg?alt=media&token=710d164c-b9d8-4d92-aa85-410571920277&_gl=1*6qslzo*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MzEwLjQ2LjAuMA..'class="w-full rounded-md">
	</div>
<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.16.58%20PM%20(2).jpeg?alt=media&token=71cd7c80-5535-420d-9b5e-c9642f836e27&_gl=1*17kfhjb*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MzQyLjE0LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.16.58%20PM.jpeg?alt=media&token=d40e1a59-9af7-43bc-952f-1b0c765372d5&_gl=1*ouh9h8*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2MzU2LjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.16.59%20PM%20(1).jpeg?alt=media&token=c9f27c4a-097a-481b-9871-1e8199aa8b49&_gl=1*1ii9r1o*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2Mzc1LjQxLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.16.59%20PM.jpeg?alt=media&token=4df43016-fa26-48f5-abd0-4198197bcb0f&_gl=1*wp5ug7*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2Mzg5LjI3LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.00%20PM%20(1).jpeg?alt=media&token=0b702e93-655e-4822-95ad-c3c935f3bb8f&_gl=1*1btambm*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2NDA2LjEwLjAuMA..'class="w-full rounded-md">
</div>
<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.00%20PM.jpeg?alt=media&token=4c0c2530-0934-4103-b4ec-23e8ea58d57e&_gl=1*m2oqa0*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2NDIxLjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.01%20PM%20(1).jpeg?alt=media&token=7e29dc16-a1c5-4d38-93dc-fece6ec3f473&_gl=1*95tusq*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2NDM0LjQ3LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.01%20PM%20(2).jpeg?alt=media&token=06e62317-71b5-4491-ba58-889fe45cb86d&_gl=1*1mzj0ue*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2NDQ3LjM0LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.01%20PM.jpeg?alt=media&token=6186761e-d636-462b-81f1-a332736e51d0&_gl=1*1fswjyh*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2NDY1LjE2LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.02%20PM%20(1).jpeg?alt=media&token=72a102c1-269d-475d-8afd-4f2ba955c540&_gl=1*sgq366*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2NDgxLjYwLjAuMA..'class="w-full rounded-md">
</div>



<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.02%20PM%20(2).jpeg?alt=media&token=6a2269cd-2699-4f29-bfbf-06d8613870f4&_gl=1*ejm67v*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2NTIyLjE5LjAuMA..'class="w-full rounded-md">
</div>
<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/cropped%2FWhatsApp%20Image%202023-10-13%20at%204.17.02%20PM.jpeg?alt=media&token=9e928bfe-de7b-4dea-9368-f35aff143088&_gl=1*1bd9kbk*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk3NDM4LjUyLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.03%20PM.jpeg?alt=media&token=1b8e7612-252d-41c9-b20d-2a4627d191ec&_gl=1*yiba9h*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2NjYzLjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.04%20PM%20(1).jpeg?alt=media&token=4fb5fd7f-11fc-440b-8232-6d15120c2f8b&_gl=1*f3fxha*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2Njc5LjQ0LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.04%20PM.jpeg?alt=media&token=52b601b6-b065-43ad-89de-63008e1edcd0&_gl=1*sku6a0*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2Njk0LjI5LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.05%20PM%20(1).jpeg?alt=media&token=776b0de6-61ad-4fba-b210-3452576a8d2a&_gl=1*v5nmvq*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2NzA5LjE0LjAuMA..'class="w-full rounded-md">
</div>
<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.05%20PM.jpeg?alt=media&token=5aabee7a-8eb5-4807-8346-582b543b392e&_gl=1*1r17s9*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2NzI2LjYwLjAuMA..'class="w-full rounded-md">
</div>
<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.06%20PM%20(1).jpeg?alt=media&token=71e78098-5356-4bad-823d-a022ef8294b4&_gl=1*tgfcw7*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2NzQxLjQ1LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.06%20PM.jpeg?alt=media&token=03dd5dd1-014d-4b96-bdee-274199c3bacf&_gl=1*hukw78*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2NzU3LjI5LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.07%20PM.jpeg?alt=media&token=0dbb7e29-d6f6-4e54-8e90-fd1d91a76553&_gl=1*12v2s0l*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2Nzc0LjEyLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.17.08%20PM.jpeg?alt=media&token=86c2a02b-b4e4-41d1-8d50-1881c79ba098&_gl=1*1jaz9qe*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2NzkxLjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.22%20PM%20(1).jpeg?alt=media&token=87dbab30-7b57-46c0-83c2-059388924c3e&_gl=1*uko0p0*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2ODA2LjQ1LjAuMA..'class="w-full rounded-md">
</div>
<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.22%20PM.jpeg?alt=media&token=5758fa48-adb3-4614-b38a-e0f8baca3e10&_gl=1*kpg8gk*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2ODIxLjMwLjAuMA..'class="w-full rounded-md">
</div>
<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.23%20PM.jpeg?alt=media&token=26143d7e-2d2b-408d-9c40-017e37acabaf&_gl=1*oughqw*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2ODM4LjEzLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.24%20PM%20(1).jpeg?alt=media&token=09bb093e-5b32-4d03-919b-930f61c09d09&_gl=1*5wrp*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2ODU0LjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.24%20PM%20(2).jpeg?alt=media&token=f361d5ee-163c-409d-80c2-a7ee777dba12&_gl=1*125htnm*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2ODY5LjQ1LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.24%20PM.jpeg?alt=media&token=e1db49c4-0b2a-4db6-aa9d-cc7cd7e6bf07&_gl=1*gt1o1e*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2ODgzLjMxLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.25%20PM%20(1).jpeg?alt=media&token=c191aadc-68ce-4cf3-b7c9-f255e2f4369a&_gl=1*652xox*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2OTAwLjE0LjAuMA..'class="w-full rounded-md">
</div>

<div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.25%20PM%20(2).jpeg?alt=media&token=fc221a1a-e797-4ba4-b28f-10a60ae5f812&_gl=1*y7fcrr*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2OTM0LjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.25%20PM.jpeg?alt=media&token=42535a63-2883-4582-9cfe-3b653a8325f3&_gl=1*157am30*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2OTQ5LjQ1LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.26%20PM%20(1).jpeg?alt=media&token=cacd0d8f-87e7-44ff-ba72-75c4f331a97d&_gl=1*1d6o6px*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2OTY1LjI5LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.26%20PM%20(2).jpeg?alt=media&token=36747298-3f68-4416-a581-b9d316158743&_gl=1*1gwky5j*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2OTgzLjExLjAuMA..'class="w-full rounded-md">
</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.26%20PM.jpeg?alt=media&token=d7bf6a11-9ffb-40a3-831d-657b99ce8990&_gl=1*1tmx8f7*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk2OTk5LjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.27%20PM%20(1).jpeg?alt=media&token=65496849-8e9e-4f1a-952c-60b2aca331a7&_gl=1*1n5855v*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk3MDE4LjQxLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.27%20PM.jpeg?alt=media&token=12c1b4f6-46f5-4dfc-991d-4fab17d513e7&_gl=1*1pu6cgb*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk3MDMzLjI2LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.28%20PM%20(1).jpeg?alt=media&token=47b34f49-e320-4985-a028-627c65cd58d0&_gl=1*ovcdos*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk3MDUyLjcuMC4w'class="w-full rounded-md">
</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.28%20PM.jpeg?alt=media&token=c38bfd5e-88e1-4844-ac1f-ffebd8e15e10&_gl=1*ce0owd*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk3MDcwLjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.29%20PM%20(1).jpeg?alt=media&token=fea280de-b08e-4bad-8ab3-083e98406e1c&_gl=1*1fkfiyv*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk3MDg1LjQ1LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.29%20PM%20(2).jpeg?alt=media&token=091c76d5-9d3f-4759-9b88-c039eec341a5&_gl=1*11ys6lw*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk3MTAzLjI3LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.29%20PM.jpeg?alt=media&token=e1db7d33-0541-429c-9766-1fb1ac7f9791&_gl=1*ui73hf*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk3MTI0LjYuMC4w'class="w-full rounded-md">
</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.30%20PM%20(1).jpeg?alt=media&token=1f5b13f4-a00e-4ece-a801-29c5c21fa279&_gl=1*c176d2*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk3MTM4LjYwLjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.30%20PM.jpeg?alt=media&token=0da331c8-8865-4fe9-9f08-5c62726180ee&_gl=1*11pxad*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk3MTUyLjQ2LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/cropped%2FScreenshot%202023-10-13%20at%205.16.11%20PM.png?alt=media&token=94440cae-0cf5-4882-b5f2-c8fec03d49a9&_gl=1*sftpsd*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk3NTgxLjU1LjAuMA..'class="w-full rounded-md">
	</div><div class="item">
		
		<img src='https://firebasestorage.googleapis.com/v0/b/finx-systems.appspot.com/o/gallery%2FWhatsApp%20Image%202023-10-13%20at%204.26.31%20PM.jpeg?alt=media&token=baea02ca-f9c1-4ade-bf7d-8f85972cca23&_gl=1*1r4aekl*_ga*OTA5MjUyNTAyLjE2Njc5MDE5NjQ.*_ga_CW55HF8NVT*MTY5NzE5NTQ5NC4xMDcuMS4xNjk3MTk3MTgzLjE1LjAuMA..'class="w-full rounded-md">
</div>

	</div>	
</div>




	
















	




	

  <!-- CTA SECTION -->
	<section id="cta" class="relative">
		<div class="max-w-6xl mx-auto px-4 sm:px-6 ">
			<div class="py-4 md:py-10 mb-10">
				<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl bg-primary-500">
					<h2 class="text-4xl text-slate-100 dark:text-slate-200 md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
						Connect with me for a speaking engagement?
					</h2>
					<p class="text-xl text-slate-200 dark:text-slate-300">
						
					</p>

					<div class="mt-6">
						{datas.map((data: any) => 
						<a
							class="btn bg-white text-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
							href= 'mailto:abhishek@justrojgar.in'
							target="_blank"
							rel="noopener"
						>
							<Icon name="tabler:brand-gmail" class="w-6 h-6 mr-2 -ml-1.5" /> Email me
						</a>
						)}
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- FOOTERS SECTION -->
	<footer class="border-t border-gray-200 dark:border-slate-800">
		<div class="max-w-6xl mx-auto px-4 sm:px-6">
			<div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
				<div class="col-span-12 lg:col-span-4">
					{datas.map((data: any) => 
					<div class="mb-2">
					
						<a class="inline-block font-bold text-xl" href={getHomePermalink()}>
							Abhishek Chola
						</a>
				
					</div>
				
					)}
					{datas.map((data: any) => 
					<div class="md:flex md:items-center md:justify-between py-6 md:py-4">
						<ul class="flex md:order-1 md:mb-0">
							
							
							<li>
								<a
									class="text-blue-700 rounded-lg text-sm p-2.5 inline-flex items-center"
									aria-label="LinkedIn"
									href=""
									target="_blank"
								>
									<Icon name="tabler:brand-linkedin" class="w-8 h-8" />
								</a>
							</li>
						
						
							<li>
								<a
									class="text-blue-400 rounded-lg text-sm p-2.5 inline-flex items-center"
									aria-label="Twitter"
									href="https://twitter.com/CHOLAABHISHEK"
									target="_blank"
								>
									<Icon name="tabler:brand-twitter" class="w-8 w-8" />
								</a>
							</li>
						
							<li>
								<a
									class="text-red-400  rounded-lg text-sm p-2.5 inline-flex items-center"
									aria-label="Email"
									href="mailto:abhishek@justrozgar.in"
									target="_blank"
								>
									<Icon name="tabler:brand-gmail" class="w-8 w-8" />
								</a>
							</li>
						
						
							
						</ul>
						
					</div>
					)}
					<div class="hidden">
					<p>
						Made with love by <a class="text-blue-600 hover:underline font-bold dark:text-gray-200" href="https://edden.app/" target="_blank"><u> Edden</u></a>
					</p>
				</div>
				</div>
			</div>
		</div>
	</footer>

	<script async src="https://tally.so/widgets/embed.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script>
	$('.owl-two').owlCarousel({
		loop:true,
		dots: false,
		lazyLoad: true,
		margin:50,
		autoplay: true,
		autoplayTimeout: 3000,	
		stagePadding:30,
		responsive:{
			0:{
				items:2
			},
			600:{
				items:3
			},
			1000:{
				items:6
			}
		}
	})
	</script>
<script>
	$('.owl-one').owlCarousel({
		loop:true,
		dots: false,
		lazyLoad: true,
		margin:30,
		autoplay: true,
		autoplayTimeout: 4000,	
		stagePadding:30,
		responsive:{
			0:{
				items:1
			},
			600:{
				items:2
			},
			1000:{
				items:3
			}
		}
	})
	</script>

	
</Layout>
